@model IEnumerable<WebApp.Pedidos.Models.Pedido>

@{
    ViewBag.Title = "Todos Pedidos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Criar Novo Pedido", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" id="table-produtos">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </th>
        <th><label>Ações</label></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td id="date-vencimento">
                @Html.DisplayFor(modelItem => item.DataVencimento)
            </td>
            <td>
                @Html.ActionLink("Aplicar Desconto", "Discount", new { id = item.Id }, new { @class = "btn btn-info", @id = "btn-desconto" })
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Remover", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/Scripts/produtos-index.js")
}


